*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 19px;
	margin: 0;
	background: linear-gradient(133deg, #41d761, #6880eb);
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1{
    font-size: 90px;
    top: 0;
    position: fixed;
    color: aliceblue;
    font-family: fangsong;
}

.container{
  background: rgb(140, 135, 135);
  width: 450px;
  padding: 35px;
  border-radius: 7px;
}

input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}
.button{
  display: flex;

}
#showImg{
	display: block;
	margin: 0 auto;
	max-width: 400px;
  min-height: 200px;
  background: #17534a73;
	border-radius: 5px;
}

button,.upload{
	width: 220px;
	margin: 50px 20px 10px 20px ;
	text-align: center;
	position: relative;
	padding: 10px 5px;
	font-size: 17px;
    outline: none;
	color: #fff;
    border: none;
	background-color:#41d761;
	border-radius: 5px;
	display: block;
}

.upload{
  background: #a74901;
}

h2{
    font-size: 30px;
    bottom: 0;
    position: fixed;
    color: black;
    font-family: fangsong;
}
